/* You can add global styles to this file, and also import other style files */
fieldset#search{
    background: rgb(212, 208, 208);
    border: 0 none;
    width: 100.25%;
    border-bottom: 1px solid #ccc;
}
.inline{
    display: flex;
}

.left{
    display: flex;
    float: left;
    margin-right: 133px;
}

.right{
    display: flex;
    float: left;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
